<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">top 10 screen names that mentioned you</h3>
  </div>

  <div class="panel-body">
  <% @top_mentioners.each do |field, count| %>
    <% percent = count * 100 / @max_count %>
      <div class="progress-details"> <a href="<%= profile_url(field) %>">@<%= field %></a><%= ": #{count} "+ "tweet".pluralize(count)%>
      </div>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%">
          <span class="sr-only"><%= percent %>% Complete</span>
        </div>
      </div>
  <% end %>
  </div>
</div>